# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Modules
node_modules

# Environment
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
